* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
}

#img {
  height: 30vw;
  width: 60vw;
  /* background-color: red; */
}

#img img {
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
}
